<div ng-controller="TicketViewCtrl">
	<div class="page-header">
		<div class="page-title">
			<h3 id="ticket">{{ title }}</h3>
		</div>
	</div>
　　
　　<div class="row">
		<div class="col-md-12">
			<div class="widget box">
				 <div class="widget-header">
            		<h4>Tracking</h4>
            	</div>
		
				<div class="widget-content">
					<div class="row">
						<div class="col-md-12">
							Date In: {{ ticket.date_in | date: 'yyyy-MM-dd'}}
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-md-12">
							Date Due: {{ ticket.date_due | date: 'yyyy-MM-dd'}}
							<button data-toggle="modal" data-target="#date_due" class="btn btn-xs">
	            				<i class="fa fa-pencil">
	            				</i>
	            			</button>
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-md-12">
							Date Ready: {{ ticket.date_ready | date: 'yyyy-MM-dd'}}
							<button data-toggle="modal" data-target="#date_ready" class="btn btn-xs">
	            				<i class="fa fa-pencil">
	            				</i>
	            			</button>
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-md-12">
							Date Out: {{ ticket.date_out | date: 'yyyy-MM-dd'}}
							<button data-toggle="modal" data-target="#date_out" class="btn btn-xs">
	            				<i class="fa fa-pencil">
	            				</i>
	            			</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<!-- List the ticket table !-->
            <div class="widget box">
            	<div class="widget-header">
            		<h4>Details</h4>
            	</div>

            	<div class="widget-content">

            		<!-- list of action -->
            		<div>
            			Status: <span class="label label-primary">{{ ticket.status }}</span>
            			<button data-toggle="modal" data-target="#myModal1" class="btn btn-xs">
            				<i class="fa fa-pencil">
            				</i>

            			</button>

            			<button data-toggle="modal" data-target="#commentModal" class="btn btn-xs">
            				<i class="fa fa-comment-o">
            				</i>  
            				Add a comment
            			</button>
            		</div>
            		<br />

            		<!-- list of actions -->
            		<p>
            			{{ ticket.description }}
            		</p>

            	</div>
            </div>
			<!-- Widget content table end -->
  		</div>

  		<!-- comments block -->
  		<div class="col-md-12">
            <h4>Comments </h4>

            <div class="Comments" ng-repeat = "comment in ticket.comments">
            	<div class="widget box">
            		<div class="widget-header">
            			<h4>{{ comment.title}} </h4>
            		</div>
	  				<div class="widget-content">
	  					<p>
	  						{{ comment.description }}
	  					</p>
	  					<p>
	  						created at: {{ comment.created_at }}
	  					</p>
	  				</div>
	  			</div>
  			</div>
  		</div>
  	    <!-- end comments block -->
	</div>

<!-- Modal dialog -->
	<div class="modal fade" id="myModal1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Update Ticket Status</h4>
				</div>
				<div class="modal-body">

					
				    <div class="form-group">
				    	<label class="col-md-4 control-label"> New Status: </label>
				    	<div class="col-md-4">
							<select class="form-control" id="status" ng-model="ticket.status">
								<option value="new">New</option>
								<option value="open">Open</option>
								<option value="progress">Progress</option>
								<option value="closed">Closed</option>
								<option value="cancel">Cancel</option>
							</select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" ng-click="updateStatus()" data-dismiss="modal">Save changes</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


<!-- Modal dialog -->
	<div class="modal fade" id="date_due">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Update Date</h4>
				</div>
				<div class="modal-body" style="height: 350px;">
				    <div class="form-group">
				    	<label class="col-md-4 control-label"> Date Due: </label>
				    	<div date-picker ng-model="ticket.date_due" >
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" ng-click="updateDateDue()" data-dismiss="modal">Save changes</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

<!-- Modal dialog -->
	<div class="modal fade" id="date_ready">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Update Date</h4>
				</div>
				<div class="modal-body" style="height: 350px;">
				    <div class="form-group">
				    	<label class="col-md-4 control-label"> Date Ready: </label>
				    	<div date-picker ng-model="ticket.date_ready" >
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" ng-click="updateDateReady()" data-dismiss="modal">Save changes</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<!-- Modal dialog -->
	<div class="modal fade" id="date_out">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Update Date</h4>
				</div>
				<div class="modal-body" style="height: 350px;">
				    <div class="form-group">
				    	<label class="col-md-4 control-label"> Date Out: </label>
				    	<div date-picker ng-model="ticket.date_out" >
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" ng-click="updateDateOut()" data-dismiss="modal">Save changes</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	<!-- status modal -->


	<!-- Comment Dialog -->
	<div class="modal fade" id="commentModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Add a New Comment</h4>
				</div>
				<div class="modal-body">
						<!-- title block -->
						<div class="form-group">
							<label class="col-md-2 control-label">Title: <span class="required">*</span></label>
							<div class="col-md-10">
								<input type="text" name="title" class="form-control" ng-model="comment.title" required />
								<br />
								<label ng-show="ticketForm.title.$dirty && ticketForm.title.$invalid" ng-class="{'has-error': ticketForm.title.$invalid, 'has-success': ticketForm.title.$valid}" >This field is required.</label>
							</div>
						</div>
						<!-- End title block -->

						<!-- description block -->
						<div class="form-group">
							<label class="col-md-2 control-label">Description:</label>
							<div class="col-md-10">
								<textarea rows="10" cols="5"  ng-model = "comment.description" name="description" class="auto form-control"></textarea>
							</div>
						</div>
						<!-- End description block --> 


						<!-- Status block -->
						<div class="form-group">
							<label class="col-md-2 control-label">Private Comment:</label>
							<div class="col-md-10">
								<input  ng-true-value="1" ng-false-value="0" type="checkbox" value="0" name="private" ng-model= "comment.private" />
							</div>						
						</div>
						<!-- End Status block -->

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" ng-click="addComment()" data-dismiss="modal">Save changes</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<!-- End Comment Dialog --> 

</div>
<!-- update modal !-->


