<div ng-controller="TicketListCtrl">
	<div class="page-header">
		<div class="page-title">
			<h3>{{ title }}</h3>
		</div>

		<ul class="page-stats">
		</ul>
	</div>

	<div class="row">
		<div class="col-md-12">
			<!-- List the ticket table !-->
			<div class="widget box">
				<div class="widget-header">
					<h4><i class="fa fa-bars"></i> Tickets </h4>
					<div class="toolbar no-padding">
						<div class="btn-group">
							<span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
						</div>
					</div>
				</div>

				<!-- Widget content table -->
				<div class="widget-content no-padding">
					<table service-table  class="table table-striped table-bordered table-hover table-checkable table-responsive datatable">
						
					</table>
				</div>
			</div>
			<!-- Widget content table end -->

			<!-- End list the ticket table !-->
		</div>
	</div>
</div>


